 @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

 html, body {
     font-family: 'Roboto', sans-serif;
     box-sizing: border-box;
     overflow-x: hidden;
 }
/* Slider  */
.navbar{
    margin: 0 50px;
}
.navbar-brand h2 {
    font-size: 1.8rem;
}

.carousel-caption .btn-lg{
    margin-bottom: 30px;
}
.carousel-caption h5,
.carousel-caption p{
    margin: 30px 0;
}

@media only screen and (max-width: 768px) and (min-width: 350px){
    .carousel-item img{
        height: 500px;
        object-fit: cover;
    }
        .carousel-caption h5,
        .carousel-caption p {
            margin: 10px 0;
        }
    .navbar-brand h2 {
            font-size: 1.4rem;
    }
    .navbar {
     margin: 0 0px;
    }
    
}